body, .page-inner, .page-content{
    background-color: #ffffff;
    font-family: Exo;
    font-size: 1.0em;
}
.page-inner{
    background-color: #2a745d2d !important;
    height: 100vh;
    overflow-y: auto;
    min-height: 100vh !important;

}
.sidebar .sidebar-header, .sidebar .menu  {
    background: #FFFFFF;
}

.sidebar-header .sidebar-profile-details span {
    color: #ffffff;
}

.sidebar-header .sidebar-profile-details small {
    color: #FFFFFF;
}

.page-sidebar{
  width: 200px;
  position: relative;
  /*min-height: 100vh !important;*/
  height: auto !important;
  background: #ffffff;

}
.sidebar-nav, .menu.accordion-menu{
  width: 200px;
  text-align: justify;
}

.sidebar .menu a span.menu-icon, .sidebar .menu a span.fa {
    display: inline-block;
    text-align: left;
    width: 20px;
    font-size: 12px;
    color: #0c2e8a;
}
.sidebar .menu a span.arrow{
    color: #0c2e8a;
    position: relative;
    top: 15px;
    left: 15px;
    display: inline-block !important;

}

.sidebar .menu a p {
    display: inline-block;
    color: #0c2e8a;
    width: 120px;
    font-size: 1.1em;
    font-weight: 500;
    text-align: justify;
}

.sidebar .menu a:hover, .sidebar .menu li.active > a, .sidebar .menu li.active.open > a, .sidebar .menu li.open > a {
    background: #50d8af;
}

.sidebar .menu a:hover span, .sidebar .menu li.active a > span, .sidebar .menu li.open > a span {
    color: #006848;
}
.menu.accordion-menu ul.sub-menu {
    background: transparent;
}

.menu.accordion-menu ul.sub-menu li a {
    color: #0c2e8a;
    font-size: 1.2em;
    font-weight: 500;
    transition: .3s all ease-in-out;
}

.menu.accordion-menu ul.sub-menu li.active a, .menu.accordion-menu ul.sub-menu a:hover {
    background: transparent;
    color: #0c2e8a;
    background-color: #f3f3f3;
    border: 2px solid #50d8af;
}




.btn.btn-primary {
    background-color: #01839b;
    border-color: #01839b;
}

.btn.btn-success {
/*  background-color: #006749;
    border-color: #006749;*/
    background-color: #037f6c;
    border-color: #037f6c;
}

.btn.btn-info {
    background-color: #cedc00;
    border-color: #cedc00
}

.btn.btn-warning {
    background-color: #d87901;
    border-color: #d87901;
}

.btn.btn-danger {
    background-color: #e83f52;
    border-color: #e83f52;
}

.v-center{
    margin-top: auto !important;
    margin-bottom: auto !important;
    position: relative;
    vertical-align: middle
}
.height-full{
    position: relative;
    min-height: 100% !important;
    height: 100% !important;
}

.right-content-auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.m-t-5{margin-top: 5px !important;}
.m-t-10{margin-top: 10px !important;}
.m-t-20{margin-top: 20px !important;}
.m-t-30{margin-top: 30px !important;}
.m-t-40{margin-top: 40px !important;}
.m-t-50{margin-top: 50px !important;}
.m-t-70{margin-top: 70px !important;}
.m-t-100{margin-top: 100px !important;}

.m-b-5{margin-bottom: 5px !important;}
.m-b-10{margin-bottom: 10px !important;}
.m-b-20{margin-bottom: 20px !important;}
.m-b-30{margin-bottom: 30px !important;}
.m-b-40{margin-bottom: 40px !important;}
.m-b-50{margin-bottom: 50px !important;}

.noty_layout {background: transparent;}
.noty_layout div.noty_type__success {background: #006e53 !important;}
.noty_layout div.noty_type__error{background: #D96065 !important;}
ul.nav.nav-pills.nav-theme li.active a{
    background: #006e53 !important;
    color: #fff !important;
    font-weight: bold;
}
ul.nav.nav-pills.nav-theme li a{
    color: #50d8af;
    font-weight: bold;
}
ul.nav.nav-tabs.nav-theme li.active a{
    background: #f2f2f2 !important;
    color: #0c2e8a !important;
    font-weight: bold;
}
ul.nav.nav-tabs.nav-theme{
    background: #2a745d2d !important;
    font-weight: bold;
}
.pane-theme{
    background: #50d8af !important;
    color: #fff !important;
}
.panel-success .panel-heading{background: #006e53 !important;}

.horizontal-line-thin,.horizonal-line-thin{background: #51BB8D; !important; height: 1px; margin: 10px 0px; clear: both;}
.horizontal-line,.horizonal-line{background: #51BB8D; !important; height: 2px; margin: 10px 0px; clear: both;}
.horizontal-line-thick,.horizonal-line-thick{background: #51BB8D !important; height: 3px; margin: 10px 0px; clear: both;}
.steps-form {
    display: table;
    width: 100%;
    position: relative; 
}
.steps-form .steps-row {
    display: table-row; }
.steps-form .steps-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 4px;
    background-color: #006e53; }
.steps-form .steps-row .steps-step {
    display: table-cell;
    text-align: center;
    position: relative; }

.steps-form .steps-row .steps-step p {
    margin-top: 0.5rem; }
.steps-form .steps-row .steps-step button[disabled], .steps-form .steps-row .steps-step.disabled  {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important; }
.steps-form .steps-row .steps-step .btn-circle {
    width: 70px;
    height: 70px;
    border: 4px solid #006e53;
    background-color: white !important;
    color: #59698D !important;
    border-radius: 50%;
    padding: 22px 18px 15px 18px;
    margin-top: -22px; }
.steps-form .steps-row .steps-step .btn-circle:hover {
    border: 4px solid #51BB8D;
    color: #51BB8D !important;
    background-color: white !important; }
.steps-form .steps-row .steps-step .btn-circle .fa {
    font-size: 1.7rem; 
}
.steps-form .steps-row .steps-step.active .btn-circle {
    background-color: #006e53 !important; 
    color: white !important;
}
a.btn{display: inline-block;}
.overflow-x-auto{overflow-x: auto !important;}
.width-20{width: 20px;}
.btn-hover{display: none;}
tr:hover .btn-hover{display: inline-block;}
.form-label{font-size: 14px;}
.my-group .form-control{width: 49%; display: inline-block;}
.status-box{
    border-radius: 6px;
    padding: 5px 8px;
    font-size: 16px;
    border: 1px solid #DEDEDE;
}
/*body{font-size: 14px;}*/
.resource-file{
    height: 250px; 
    width: 250px; 
    overflow-y: auto; 
    display: inline-block; 
    position: relative;
    vertical-align: middle;
}
.hover-name{
    margin: 30px 0 0 10px;
    vertical-align: middle;
    position: relative;
    display: none;
    font-weight: bold;
}
.resource-file:hover > .cell > .hover-name{
    display: inline-block;
}
.card {
    /*float: left;*/
    background: #fff;
    margin: 1.5rem;
}
.card-header{
  padding: 10px 20px;
  /*margin-bottom: 10px;*/
  border-bottom: 1px solid #eee;
}
.card-title{
  font-weight: 600;
  font-size: 1.125rem;
}

.card-body{
  padding: 20px;  
}

.show-content{
    visibility: visible;
    opacity: 1;
    width: calc(100% - 250px) !important;
    padding: 10px;
    vertical-align: top;
    height: 0px !important;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}

.resource-list-size{
    width: 230px !important;
    background: #EBEBEB;
    padding: 10px;
    vertical-align: top;
    height: 100%;
    overflow: auto;
}

.resource-list-size > div {
    margin: 5px;
    border: 1px #999 solid;
    padding: 5px;
    width: 200px !important;
    height: 200px !important;
}
.resource-list-size > div:hover {
    cursor: pointer;
    background: #f7f7f7;
}


.ppt {
  background: url('../images/ppt_icon.png') no-repeat 0 3px;
  width: 100px;
  background-size: 90px 90px;
  height: 100px;
}
.xls {
  background: url('../images/xlsx_icon.png') no-repeat 0 3px;
  width: 100px;
  background-size: 90px 90px;
  height: 100px;
}
.msg {
  background: url('../images/msg_icon.ico') no-repeat 0 3px;
  width: 100px;
  background-size: 90px 90px;
  height: 100px;
}

.doc {
  background: url('../images/doc_icon.png') no-repeat 0 3px;
  width: 100px;
  background-size: 90px 90px;
  height: 100px !important;
}
.pdf {
  background: url('../images/pdf_icon.jpeg') no-repeat 0 3px;
  width: 100px;
  background-size: 90px 90px;
  height: 100px !important;
}
.image_icon {
  background: url('../images/image_icon.png') no-repeat 0 3px;
  width: 100px;
  background-size: 90px 90px;
  height: 100px;
}


.file-resource{
  display: none;
}
.file-attachment{
  background: #fff;
  width: 100px;
  height: 100px;
  border: 1px solid #f3f3f3;
  display: inline-block;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  padding: 3px;
  margin: 5px 5px;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
  overflow-wrap: break-word;
  overflow: hidden;
}
.file-name, .file-size{
  font-weight: bold;
  color: #333;
  text-align: center;
}
.file-name:hover, .file-size:hover{
  font-weight: bold;
  color: #000;
  padding-top: 5px;
  text-decoration: underline;
}
.file-clip{
  cursor: pointer
}

.sidebox-container{
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  background: #f7f7f7;
  width: 100%;
  clear: both;
}

.sidebox-display-container{
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 4;
  background: rgba(0,0,0,0.6);
  width: 100%;
  clear: both;
}

.sidebox-content-area{
  padding-top: 60px;
  /*width: 700px;
  float: right;*/
  /*height: 100% !important;
  background: #fff;
  box-shadow: -1px 0px #999;
  border: 1px solid #999;*/

}
.sidebox-header, .sidebox-footer{
  width: 100%;
  height: 60px !important;
  vertical-align: middle;
}
.sidebox-header{
  width: 100%;
  color: #ffffff;
  background: #006e53;
}
.sidebox-body{
  width: 100%;
  height: calc(100% - 120px) !important;
  min-height: 400px;
  border-top: 1px solid #999;
  overflow:auto;
}

.big-form-control{
  min-height: 40px !important;
}
.control-label{ font-size: 14px; font-weight: 500; }
.overflow-text-content{
  text-align: left;
  overflow-wrap: break-word;
  height: 200px !important;
  font-size: 14px;
  font-weight: 600;
  overflow-y: auto;
  margin-top: 20px;
  margin-bottom: 50px;
}

.cd-pricing-wrapper > li::before{
  background-color: #fff !important;
}
.inline-element{
  display: inline-block;
}
.alert-default{
  background: #ffffff;
  border: 2px solid #B22B2B;
  clear: both;
  margin-bottom: 0px;
}

.table-condensed>tbody>tr>td, 
.table-condensed>tbody>tr>th, 
.table-condensed>tfoot>tr>td, 
.table-condensed>tfoot>tr>th, 
.table-condensed>thead>tr>td, 
.table-condensed>thead>tr>th {
  padding: 5px !important; 
}

.h1, h1{ font-size: 1.75em !important; }
.h2, h2{ font-size: 1.5em !important; }
.h3, h3{ font-size: 1.35em !important; }
.h4, h4{ font-size: 1.20em !important; }
.h5, h5{ font-size: 1.1em !important; }
.h6, h6{ font-size: 1.0em !important; }